<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title> Preguntas </title>
	<link rel='stylesheet'
	      type='text/css'
	      media="(min-width: 640px)"
	      href='/stylesheets/style.css' />
	<link rel='stylesheet'
	      type='text/css'
	      media="(max-width: 640px)"
	      href='/stylesheets/smartphone.css' />
</head>

<body>

<div id="page-wrap">
	<header class="main" id="h1">
	<h2>Quiz: El juego de las preguntas</h2>
	</header>

	<nav class="main" id="n1" role="navigation">
		<span><a href="/">Inicio</a></span>
		<br>
		<span><a href="/quizes/questions">Preguntas</a></span>
	</nav>

	<section class="main" id="s1"
	<%- body %>
	</section>	<br><br><br><br><br><br>
	<footer class="main" id="f1">
		 <a href="https://github.com/alu0100713213/PracticaQuiz">Repositorio de Quiz en GitHub</a><br>
<a href="https://github.com/alu0100713213/PracticaQuiz"><img src="http://www.nicolasmarin.com/wp-content/uploads/github.jpg" alt="Github" height=80" width="190">
		</a>
	</footer>
</div>

</body>
</html>
